<AuthorizeView>
    <Authorized>
         <ul class="navbar-nav mb-2 mb-lg-0 float-end">
            <li class="nav-item">
                <a class="nav-link active" href="/identity/account/logout">Sign Out</a>
            </li>
        </ul>       
    </Authorized>
    <NotAuthorized>
        <ul class="navbar-nav mb-2 mb-lg-0 float-end">
            <li class="nav-item">
                <a class="nav-link active" href="/identity/account/login">Sign In</a>
            </li>
        </ul>

    </NotAuthorized>
</AuthorizeView>

@code {

}
