@page "/products"

@inject NavigationManager NavigationManager


@attribute [Authorize(Policy = "Inventory")]

<h3>
    Product List
</h3>
<br/>
<SearchProductComponent
    OnSearchProduct="OnSearchProduct"></SearchProductComponent>
<br/>
<ProductListComponent SearchTerm="@searchTerm"></ProductListComponent>
<br/>
<button 
    type="button"
    class="btn btn-primary"
    @onclick="AddProduct">Add Product
</button>


@code {
    private string searchTerm = string.Empty;

    private void OnSearchProduct(string searchTerm)
    {
        this.searchTerm = searchTerm;
    }

    private void AddProduct()
    {
        NavigationManager.NavigateTo("/addproduct");
    }

}
